{% extends 'base.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>
<div class="container mt-5">
    <div class="Ordered m-5">
        <h4 class="text-center" style="margin:5px;">Total Orders</h4>
        <br/>
        <div class="row">
            {% for q in result %}
            <div class="col">
                <div class="card" style="margin:10px;">
                    <div class="card-body">
                        <h3 class="text-center">Product: {{ q.name }}</h3>
                    </div>
                    <div class="card-footer">
                        <h6 class="text-center">Quantity: {{ q.total_amt }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
    <h4 class="text-center">Product Delivery List</h4>
    <br/>
    <div class="row">
        <div class="col">
            <div class="search-form">
                <input id="myInput" class="form-control" type="text" placeholder="Search.." autocomplete="off">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <select class  ="form-control" name="state" id="maxRows">
                    <option value="5000">---ALL---</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
    </div>
    <div style="overflow-x:auto;margin:15px;">
        <table class="table text-center" id="table-id">
            <thead>
                <tr id="myrow1">
                    <th>Product Name</th>
                    <th>Product Quantity</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <th>Customer</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for order in orders %}
                <tr>
                    <td>{{order.name}}</td>
                    <td>{{order.quantity}} liter</td>
                    <td>{{order.date}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.customer}}</td>
                    <td>
                        <a href="{% url 'order-edit' order.pk %}" class="btn m-2">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% comment %} <!-- Pagination --> {% endcomment %}
</div>
<script>
getPagination('#table-id');

function getPagination(table) {
    var lastPage = 1;

    $('#maxRows')
    .on('change', function(evt) {
        lastPage = 1;
        $('.pagination')
            .find('li')
            .slice(1, -1)
            .remove();
        var trnum = 0;
        var maxRows = parseInt($(this).val()); 

        if (maxRows == 5000) {
            $('.pagination').hide();
        } else {
            $('.pagination').show();
        }

        var totalRows = $(table + ' tbody tr').length;
        $(table + ' tr:gt(0)').each(function() {
            if (trnum > maxRows) {

            $(this).hide(); 
            }
            if (trnum <= maxRows) {
                $(this).show();
            } 
        }); 
        if (totalRows > maxRows) {
        
            var pagenum = Math.ceil(totalRows / maxRows);
            for (var i = 1; i <= pagenum; ) {
            $('.pagination #prev')
                .before(
                '<li data-page="' +
                    i +
                    '">\
                                    <span>' +
                    i++ +
                    '<span class="sr-only">(current)</span></span>\
                                    </li>'
                )
                .show();
            }
        } 
        $('.pagination [data-page="1"]').addClass('active');
        $('.pagination li').on('click', function(evt) {
            evt.stopImmediatePropagation();
            evt.preventDefault();
            var pageNum = $(this).attr('data-page');

            var maxRows = parseInt($('#maxRows').val()); 

            if (pageNum == 'prev') {
                if (lastPage == 1) {
                    return;
                }
                pageNum = --lastPage;
            }
            if (pageNum == 'next') {
                if (lastPage == $('.pagination li').length - 2) {
                    return;
                }
                pageNum = ++lastPage;
            }

            lastPage = pageNum;
            var trIndex = 0; 
            $('.pagination li').removeClass('active'); 
            $('.pagination [data-page="' + lastPage + '"]').addClass('active'); 
            limitPagging();
            $(table + ' tr:gt(0)').each(function() {
            trIndex++;
                if ( trIndex > maxRows * pageNum || trIndex <= maxRows * pageNum - maxRows) {
                    $(this).hide();
                } 
                else {
                    $(this).show();
                } 
            });
        });
        limitPagging();
        })
        .val(5)
        .change();
    }

    function limitPagging(){

        if($('.pagination li').length > 7 ){
                if( $('.pagination li.active').attr('data-page') <= 3 ){
                $('.pagination li:gt(5)').hide();
                $('.pagination li:lt(5)').show();
                $('.pagination [data-page="next"]').show();
            }if ($('.pagination li.active').attr('data-page') > 3){
                $('.pagination li:gt(0)').hide();
                $('.pagination [data-page="next"]').show();
                for( let i = ( parseInt($('.pagination li.active').attr('data-page'))  -2 )  ; i <= ( parseInt($('.pagination li.active').attr('data-page'))  + 2 ) ; i++ ){
                    $('.pagination [data-page="'+i+'"]').show();

                }

            }
        }
    }

    $(function() {
        $('table tr:eq(0)').prepend('<th> SRNO </th>');
        var id = 0;
        $('table tr:gt(0)').each(function() {
            id++;
            $(this).prepend('<td>' + id + '</td>');
        });
    });
</script>
<script>
window.onload = (function(){
    var row = document.getElementById("myrow");
    var x = row.insertCell(3);
    var name = document.getElementById("name").innerText;
    var qty = document.getElementById("qty").innerText;
    var cprice=30;
    for(var i=0;i<qty.length;i++){
        price = cprice*qty;
    }
    x.innerHTML = price;
})();
</script>
{% endblock content %}