{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div style="max-width:500px;">
        <ul class="list-group">
            {% for q in result %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ q.name }}
                <span class="badge badge-primary badge-pill" style="background-color: blue;">{{ q.total_amt }}</span>
            </li>
            {% endfor %} 
        </ul>
    </div>
    <br/>
    <h4 class="text-center">Product Ordered List</h4>
    <br/>
    <div style="overflow-x:auto;">
        <table class="table text-center" id="mytable">
            <thead>
                <tr>
                    <th>Srno</th>
                    <th>Product Name</th>
                    <th>Product Quantity</th>
                    <th>Price</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="mytbody">
                {% for order in orders %}
                <tr id="myrow">
                    <td>{{forloop.counter}}</td>
                    <td id="name">{{order.name}}</td>
                    <td id="qty">{{order.quantity}}</td>
                    <td id="qty">{{order.quantity}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        <a href="{% url 'order-edit' order.pk %}" class="btn m-2">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    window.onload = (function(){
        var qty = document.getElementById("qty").innerText;
        price=45;
        cprice=30;
        table = document.getElementById('mytbody');
        var array = [];
        for(var i=0;i<table.rows.length;i++){
            name = table.rows[i].cells[1].innerText;
            var val = table.rows[i].cells[3].innerText;
            if(name === 'milk'){
                array.push(val*45)
            }
            else if(name === 'curd'){
                array.push(val*30)
            }
        }
        for(var i=0;i<table.rows.length;i++){
            table.rows[i].cells[3].innerText = array[i];
        }
    })();
</script>
{% endblock content %}